<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="HeaderLinks" />
				</td>
			</tr>
			<tr>
				<td height="89px" class="structureViewSection">
					<div>Header</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="SearchTimeBar" />
				</td>
			</tr>
			<tr>
				<td height="125px" width="25%" colspan="1" class="structureViewSection">
					<cockpit code="OrdersList" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="OrderDetails" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>